@page {
  margin: 0;
  size: A4;
}

html, body {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: url('background_ipalpha.png') no-repeat center center;
  background-size: cover;
}

.conteudo {
  width: 100%;
  height: 100%;
  padding: 3cm 2cm 2cm 2cm;
  box-sizing: border-box;
  font-size: 1.2rem;
  text-align: justify;
}

.deveres {
  text-align: justify;
}

.deveres li {
  margin: 1rem
}

.conteudo p {
  padding: 0 1rem;
}

.assinatura {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2cm;
  text-align: right;
}

p[data-field="nome"] {
  margin: 0;
}