@page {
  margin: 0;
  size: A4;
}

html, body {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: url('background_ipalpha.png') no-repeat center center;
  background-size: cover;
}

.conteudo {
  width: 100%;
  height: 100%;
  padding: 3cm 2cm 2cm 2cm;
  box-sizing: border-box;
}

.assinatura {
  margin-top: 2cm;
  text-align: right;
}